#showScore {
    position: relative;
    background: linear-gradient(orange,rgb(99, 99, 16)) !important;
    border: 1px solid gray;
    height: 7vh !important;
    width: 11vw !important;
    top: -60px !important;
    border-radius: 10px !important;
    text-align: center !important;
    text-shadow: 5px !important;
    padding: 10px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: beige !important;
    left: 370px;
 }
 #score {
    position: relative;
    font-weight: bold;
 }
 #grade {
    position: relative;
    color: green;
 }
 #body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0 208.26L10 196.69L20 219.54L30 193.85L40 182.21L50 139.4L60 189.36L70 178.01L80 213.1L90 174.25L100 199.4L110 205.63L120 183.2L130 174.77L140 218.65L150 201.58L160 205.62L170 270.43L180 334.61L190 278.44L200 332.42L210 309.58L220 325.57L230 342.13L240 372.26L250 335.71L260 367.97L270 369.96L280 342.48L290 291.49L300 345.21L310 314.29L320 245.4L330 309.02L340 333.18L350 384.56L360 452.37L370 514.04L380 452.85L390 395.91L400 429.87L410 366.99L420 424.83L430 485.32L440 452.8L450 507.56L460 484.08L470 507.72L480 558.08L490 523.78L500 468.54L510 413.99L520 358.01L530 317.59L540 378L550 397.14L560 414.57L570 434.03L580 384.85L590 415.18L600 397.32L610 429.68L620 398.1L630 347.35L640 385.19L650 431.73L660 443.73L670 376.71L680 421.71L690 361.36L700 345.66L710 293.72L720 272.69L730 257.81L740 266.47L750 319.33L760 333.7L770 303.27L780 353.71L790 348.11L800 301.04L810 302.31L820 236.79L830 167.59L840 192.84L850 201.88L860 233.39L870 167.89L880 115.9L890 88.33L900 89.97L910 36.74L920 48.47L930 64.33L940 132.76L950 123.2L960 135.23L970 165.25L980 131.83L990 70.05L1000 99.81L1010 80.25L1020 39.77L1030 23.33L1040 23.66L1050 73.68L1060 54.5L1070 4.31L1080 25.5L1090 41.67L1100 35.85L1110 38.89L1120 46.17L1130 45.49L1140 84.4L1150 80.84L1160 21.32L1170 59.36L1180 59.98L1190 78.24L1200 25.98L1210 69.88L1220 125.46L1230 148.08L1240 130.13L1250 78.83L1260 140.58L1270 175.91L1280 166.33L1290 184.96L1300 123.33L1310 190.93L1320 152.59L1330 214.26L1340 279.69L1350 293.14L1360 278.34L1370 279.21L1380 288.43L1390 253.46L1400 234.93L1410 245.54L1420 257.43L1430 246.39L1440 293.29' stroke='%23224b75' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 208.26L10 196.69L20 219.54L30 193.85L40 182.21L50 139.4L60 189.36L70 178.01L80 213.1L90 174.25L100 199.4L110 205.63L120 183.2L130 174.77L140 218.65L150 201.58L160 205.62L170 270.43L180 334.61L190 278.44L200 332.42L210 309.58L220 325.57L230 342.13L240 372.26L250 335.71L260 367.97L270 369.96L280 342.48L290 291.49L300 345.21L310 314.29L320 245.4L330 309.02L340 333.18L350 384.56L360 452.37L370 514.04L380 452.85L390 395.91L400 429.87L410 366.99L420 424.83L430 485.32L440 452.8L450 507.56L460 484.08L470 507.72L480 558.08L490 523.78L500 468.54L510 413.99L520 358.01L530 317.59L540 378L550 397.14L560 414.57L570 434.03L580 384.85L590 415.18L600 397.32L610 429.68L620 398.1L630 347.35L640 385.19L650 431.73L660 443.73L670 376.71L680 421.71L690 361.36L700 345.66L710 293.72L720 272.69L730 257.81L740 266.47L750 319.33L760 333.7L770 303.27L780 353.71L790 348.11L800 301.04L810 302.31L820 236.79L830 167.59L840 192.84L850 201.88L860 233.39L870 167.89L880 115.9L890 88.33L900 89.97L910 36.74L920 48.47L930 64.33L940 132.76L950 123.2L960 135.23L970 165.25L980 131.83L990 70.05L1000 99.81L1010 80.25L1020 39.77L1030 23.33L1040 23.66L1050 73.68L1060 54.5L1070 4.31L1080 25.5L1090 41.67L1100 35.85L1110 38.89L1120 46.17L1130 45.49L1140 84.4L1150 80.84L1160 21.32L1170 59.36L1180 59.98L1190 78.24L1200 25.98L1210 69.88L1220 125.46L1230 148.08L1240 130.13L1250 78.83L1260 140.58L1270 175.91L1280 166.33L1290 184.96L1300 123.33L1310 190.93L1320 152.59L1330 214.26L1340 279.69L1350 293.14L1360 278.34L1370 279.21L1380 288.43L1390 253.46L1400 234.93L1410 245.54L1420 257.43L1430 246.39L1440 293.29L1440 560L0 560z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-opacity='0.65' stop-color='%23224b75' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23508dcc' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
 }

 @media screen and (max-width: 600px) {
    #showScore {
        position: relative;
        background-color: rgba(0, 0, 0, 0.868) !important;
        border: 1px solid gray;
        height: 4vh !important;
        width: 11vw !important;
        margin-top: 10px !important;
        border-radius: 10px !important;
        text-align: center !important;
        text-shadow: 5px !important;
        padding: 5px !important;
        font-weight: bold !important;
        font-size: 18px !important;
        color: beige !important;
        left: 50px;
     }
 }
 @media screen and (min-width: 600px) {
    #showScore {
        position: relative;
        background: linear-gradient(orange,rgb(99, 99, 16)) !important;
        border: 1px solid gray;
        height: 7vh !important;
        width: 11vw !important;
        top: -60px !important;
        border-radius: 10px !important;
        text-align: center !important;
        text-shadow: 5px !important;
        padding: 10px !important;
        font-weight: bold !important;
        font-size: 18px !important;
        color: beige !important;
        left: 300px;
     }
 }
    
 